body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: #fff;
    margin-top: 30vh;
  }
  
  div {
    max-width: 400px;
    margin: 50px auto;
    background-color: #212121;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  div:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #fff;
    transition: color 0.3s ease;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4b636e;
    border-radius: 4px;
    color: #fff;
    background-color: #5e6d7d;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  
  input:hover {
    background-color: #6c7d8e;
    border: 1px solid #7e8f9e;
    color: #ecf0f1;
  }
  
  button {
    background-color: #1976D2;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1565C0;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  h1 {
    text-align: center;


  }