
  body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin-top: 10vh;
    background-color: black; /* Dark background color for the entire page */
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  

table {
  margin: 10px auto;
  width: 70%;
  border-collapse: collapse;
  border: 2px solid #ffffff; /* Green border color */
  background-color: #212121; /* Dark background color for the table */
  color: #fff;
}

th, td {
  border: 1px solid #fafafa;
  padding: 12px;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform animation */
}

th {
  background-color: #1976D2; /* Dark blue background for table headers */
  color: #fff;
}

tr:hover {
  background-color: #333; /* Darker background on hover for better feedback */
}

td:hover {
  transform: scale(1.05); /* Scale the cells on hover for a subtle animation effect */
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #1976D2;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #1565C0; /* Slightly darker blue background on hover for links */
}

.smazatB {
  background-color: #1976D2;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform animation */
}

.smazatB:hover {
  background-color: #1565C0; /* Slightly darker blue background on hover for the button */
  transform: scale(1.05); /* Scale the button on hover for a subtle animation effect */
}

.inputTD {
  width: 150px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333; /* Dark background color for the input box */
  color: #fff;
  transition: border-color 0.3s ease; /* Added border-color transition on hover */
}

.inputTD:focus {
  outline: none;
}

.inputTD::placeholder {
  color: #999;
}

.inputTD:hover {
  border-color: #93c495; /* Green border color on hover */
}

.trash-icon {
  color: #333;
  transition: color 0.3s ease; /* Added color transition on hover */
}

.trash-icon:hover {
  color: #4CAF50; /* Green color on hover for the trash icon */
}

